/Prueba/nbproject/private/
/Colores/nbproject/private/
/Colores/build/
/Colores2/nbproject/private/
/Colores2/build/
/Fonts/nbproject/private/
/Fonts/build/
/Font2/nbproject/private/
/Figuras/nbproject/private/
/Figuras/build/
/graficos/nbproject/private/
/Arcos/nbproject/private/
/Arcos/build/
/Dibujar/nbproject/private/
/Dibujar/build/
/Poligonos/nbproject/private/
/Poligonos/build/
/Formas/nbproject/private/
/Formas/build/
/Formas2/nbproject/private/
/Formas2/build/
/Tarea/nbproject/private/
/Tarea/build/
